FROM php:8.2-cli

# System deps
RUN apt-get update && apt-get install -y \
    git unzip curl libzip-dev zip

# PHP extensions
RUN docker-php-ext-install pdo pdo_mysql zip

# Composer
COPY --from=composer:latest /usr/bin/composer /usr/bin/composer

WORKDIR /var/www

COPY . .

EXPOSE 10000

CMD sh -c "\
if [ ! -f .env ]; then cp .env.example .env; fi && \
composer install --no-dev --optimize-autoloader && \
php artisan key:generate --force && \
php artisan config:clear && \
php artisan serve --host=0.0.0.0 --port=$PORT"
